colour filter

<div class="col-md-6">
    <div class="form-group d-flex">
      <div class="select-wrap">
        <!-- <div class="icon"><span class="ion-ios-arrow-down"></span></div>
        <select name="color" id="color" class="form-control">
          <% product.color.filter(c => c).forEach(color => { %>
            <option value="<%= color %>"><%= color %></option>
          <% }) %>
        </select>
      </div> -->
    </div>
  </div>





category table



                <!-- <table class="categories-table">
                    <thead>
                        <tr>
                            <th>BRANDS</th>
                            <th>BRAND DESCRIPTION</th>
                            <th>BRAND OFFER</th>
                            <th>LAST UPDATED</th>
                            <th>LISTING</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i = 0; i < brand.length; i++ ){%>
                        <tr>
                            <td><%= brand[i].name %></td>
                            <td><%= brand[i].description %></td>
                            <td><%= brand[i].brandOffer %> %</td>
                            <td><%= brand[i].createdAt.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                            <td>
                                <% if(brand[i].isListed == false) { %>
                                    <a href="/admin/listBrand?id=<%= brand[i]._id %>" style="text-decoration: none; color: white;"><button class="block-btn btn btn-success">LIST</button></a>
                                <% } else { %>
                                    <a href="/admin/unlistBrand?id=<%= brand[i]._id %>" style="text-decoration: none; color: white;"><button class="block-btn btn btn-danger">UNLIST</button></a>
                                <% } %>
                            </td>
                            <td class="action-buttons">
                                <button onclick="editBrand('<%= brand[i].name %>','<%= brand[i].description %>','<%= brand[i].brandOffer %>','<%= brand[i]._id %>')" class="btn btn-success">EDIT</button>
                                <button onclick="deleteBrand('<%= brand[i]._id %>')" class="btn btn-danger">DELETE</button>
                            </td>
                        </tr>
                        <% } %>    
                    </tbody>
                </table>

                <div class="pagination">
                    <div class="page-numbers">
                        <div class="page-nav"></div>
                        <% for (let j = 1; j <= totalPages; j++) { %>  
                            <a href="?page=<%= j %>" style="text-decoration: none;">
                                <button class="page-button <%= (j === currentPage) ? 'active' : '' %>">
                                  <%= j %>
                                </button>
                              </a>
                            <% } %>
                        <div class="page-nav"></div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="message" value="<%= message %>"> -->