<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dialogue Digital - Brands</title>
    <link rel="stylesheet" href="/css/admin/brands.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <%-include("../../views/partials/admin/aside")%>

        <!-- Main content area -->
        <div class="main-content">
            <!-- Header with search -->
            <div class="header">
                <div class="search-container">
                    <form action="/admin/brands" method="GET">
                        <input class="search-input" type="text" name="search" id="searchInput" placeholder="Search for Brands">
                        <button type="submit" id="searchBtn" class="btn btn-success">Search</button>
                        <button type="button" class="btn btn-secondary" onclick="clearSearch()">Clear</button>
                    </form>
                </div>
                <div class="user-avatar"></div>
            </div>

            <!-- Categories section -->
            <div class="categories-container">
                <div class="categories-header">
                    <div class="categories-title">Brands</div>
                    <button class="add-category-btn" button type="button" data-bs-toggle="modal"
                        data-bs-target="#addBrand">ADD BRANDS +</button>
                </div>

                <table class="categories-table">
                    <thead>
                        <tr>
                            <th>BRANDS</th>
                            <th>BRAND DESCRIPTION</th>
                            <th>BRAND OFFER</th>
                            <th>LAST UPDATED</th>
                            <th>LISTING</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0; i < brand.length; i++ ){%>
                            <tr>
                                <td>
                                    <%= brand[i].name %>
                                </td>
                                <td>
                                    <%= brand[i].description %>
                                </td>
                                <td>
                                    <%= brand[i].brandOffer %> %
                                </td>
                                <td>
                                    <%= brand[i].createdAt.toLocaleDateString('en-US', { year: 'numeric' ,
                                        month: 'short' , day: 'numeric' }) %>
                                </td>
                                <td>
                                    <% if(brand[i].isListed==false) { %>
                                        <a href="/admin/listBrand?id=<%= brand[i]._id %>"
                                            style="text-decoration: none; color: white;"><button
                                                class="block-btn btn btn-success">LIST</button></a>
                                        <% } else { %>
                                            <a href="/admin/unlistBrand?id=<%= brand[i]._id %>"
                                                style="text-decoration: none; color: white;"><button
                                                    class="block-btn btn btn-danger">UNLIST</button></a>
                                            <% } %>
                                </td>
                                <td class="action-buttons">
                                    <button
                                        onclick="editBrand('<%= brand[i].name %>','<%= brand[i].description %>','<%= brand[i].brandOffer %>','<%= brand[i]._id %>')"
                                        class="btn btn-success">EDIT</button>
                                    <button onclick="deleteBrand('<%= brand[i]._id %>')"
                                        class="btn btn-danger">DELETE</button>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

                <div class="pagination">
                    <div class="page-numbers">
                        <div class="page-nav"></div>
                        <% for (let j=1; j <= totalPages; j++) { %>
                            <a href="?page=<%= j %>" style="text-decoration: none;">
                                <button class="page-button <%= (j === currentPage) ? 'active' : '' %>">
                                    <%= j %>
                                </button>
                            </a>
                            <% } %>
                        <div class="page-nav"></div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="message" value="<%= message %>">


        <!-- Add Modal -->
        <div class="modal fade" id="addBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #292d38;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">BRANDS</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <h1 class="form-title">Add Brands</h1>
                            <form method="post" action="/admin/addbrand">
                                <div class="form-group">
                                    <label class="form-label">Brand Name:</label>
                                    <input type="text" class="form-input" name="categoryname" id="name">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Description:</label>
                                    <textarea class="form-input" name="categorydescription" id="description"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Offer percentage:</label>
                                    <input type="number" class="form-input" name="offer" id="offer">
                                </div>

                                <div class="button-container">
                                    <button type="submit" class="submit-button">ADD BRAND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- editModal -->
        <div class="modal fade" id="editBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #292d38;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">BRANDS</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <h1 class="form-title">Edit Brands</h1>
                            <form method="post" action="/admin/editbrand">
                                <div class="form-group">
                                    <label class="form-label">Brand Name:</label>
                                    <input type="text" class="form-input" name="categoryname" id="editname">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Description:</label>
                                    <textarea class="form-input" name="catdescription" id="editdescription"></textarea>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Offer percentage:</label>
                                    <input type="number" class="form-input" name="offer" id="editoffer">
                                </div>

                                <input type="hidden" id="edit_id" name="id">

                                <div class="button-container">
                                    <button type="submit" class="submit-button">EDIT BRAND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- deleteModal -->
        <div class="modal fade" id="deleteBrand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="background-color: #292d38;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">BRANDS</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <h6>Are you sure want to delete this Brand ?</h6>
                            <form method="post" action="/admin/deletebrand">
                                <input type="hidden" id="delete_id" name="id">
                                <div class="button-container">
                                    <button type="submit" class="btn btn-danger">DELETE BRAND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <script>
            const message = document.getElementById('message').value;
            if (message) {
                swal.fire(message)
            }


            function editBrand(name, desciption, brandOff, brandId) {
                document.getElementById('editname').value = name
                document.getElementById('editdescription').value = desciption
                document.getElementById('editoffer').value = brandOff
                document.getElementById('edit_id').value = brandId

                console.log(name, desciption, brandOff, brandId);

                var modal = new bootstrap.Modal(document.getElementById('editBrand'))
                modal.show()
            }

            function deleteBrand(id) {
                document.getElementById('delete_id').value = id

                var modal = new bootstrap.Modal(document.getElementById('deleteBrand'))
                modal.show()
            }

            function clearSearch() {
                document.getElementById("searchInput").value = "";
                document.getElementById('searchBtn').click();

            }


        </script>
</body>

</html>